<header class="simple-header">
  <div class="header-inner">
    <nav class="header-nav">
      <a href="{{ '/' | relative_url }}">bio</a>
      <a href="{{ '/' | relative_url }}#news">news</a>
      <a href="{{ '/' | relative_url }}#publications">publications</a>
      <a href="{{ '/' | relative_url }}#blog">blog</a>
      <a href="{{ '/assets/pdf/cv.pdf' | relative_url }}" target="_blank">cv</a>
      {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
      {%- for p in sorted_pages -%}
        {%- if p.nav and p.autogen == nil -%}
          <a href="{{ p.url | relative_url }}">{{ p.title | downcase }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>
</header>
