/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 40px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 20px;
  }
}

.container {
  max-width: $max-content-width;
}

// Profile image
.profile {
  img {
    width: 100%;
  }
}
