/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: #f7f7f9;
  --global-text-color: #333333;
  --global-text-color-light: #888888;
  --global-theme-color: #1772d0;
  --global-hover-color: #f09228;
  --global-footer-bg-color: #ffffff;
  --global-footer-text-color: #aaaaaa;
  --global-footer-link-color: #333333;
  --global-distill-app-color: #888888;
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #ffffff;

  .fa-sun { display: none; }
  .fa-moon { display: none; }
  .repo-img-light { display: block; }
  .repo-img-dark { display: none; }
}
